<div class="main-about">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail">
					<%= image_tag "1755275-bruce_lee_kato.jpg", :class => ""%>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<h2>My name is Hoon Kim.</h2>
				<p>I was raised in the city of Chicago and still reside in the metro area. I am a graduate of the University of Illinois at Chicago.</p>
				<p>I love doing web development. Currently, I am a student of Codecademy Labs-Chicago.</p>
				</div>
			</div>
		</div>
	</div>
</div>